In [8]:
import pyodbc
import pandas as pd

In [ ]:
conn = pyodbc.connect(r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=C:\Users\eia_prices.accdb;')
cursor = conn.cursor()
cursor.execute('select period, value, units from NatGas')
   
for row in cursor.fetchall():
    print (row)

In [10]:
natgas = pd.read_sql('select period, value, units from NatGas', conn)
natgas.head()

c:\Users\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       period  value    units
0  2022-07-22  8.299  $/MMBTU
1  2022-06-22  6.858  $/MMBTU
2  2022-06-13  8.609  $/MMBTU
3  2022-05-23  8.744  $/MMBTU
4  2022-04-28  6.888  $/MMBTU

In [12]:
petroleum = pd.read_sql('select period, value, units from PetroleumSpotPrices', conn)
petroleum.head()

c:\Users\sznik\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

       period value  units
0  26/07/2022  3.60  $/GAL
1  19/07/2022  3.63  $/GAL
2  14/07/2022  3.66  $/GAL
3  07/07/2022  3.71  $/GAL
4  29/06/2022  4.02  $/GAL

In [13]:
conn.close()